@import url('https://fonts.googleapis.com/css2? family= Lato:wght@400;700;900 & family= Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500; 0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900 & family= Sacramento & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

.menu{
    background-color: #7754ff;
    width: 100%;
    height: 80px;
}
.menu .logo img{
    width: 70px;
}
.menu .logo{
    padding-top: 10px;
    padding-left: 100px;
    color: #ffcccc;
    float: left;
    
}
.menu ul{
    float: right;
    margin-right: 20px;
}
.menu ul li{
    display: inline-block;
    line-height: 70px;
    margin: 5px;
    padding-right: 20px;
}
.menu ul li a{
    color:#ffcccc;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}
.menu ul li a.active, .menu ul li a:hover{

    color: #1f1642;
    transition: .4;
}

.checkbtn{
    float: right;
    font-size: 30px;
    line-height: 80px;
    margin-right: 20px;
    display: none;
    color: #ffcccc;
}
#check{
    display: none;
}

/*------------inicio painel banner-------------*/

.conteiner-painel{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image:linear-gradient(to right, #871746,#aa8997) ;
    height: 80vh;
}
.conteudo-painel{
    display: flex;
    flex-direction: column;
    gap:15px;
    margin-left: 50px;
    flex: 1;
}
.conteudo-painel h1{
    color: #e0fbfc;
    font-size: 50px;
}
.conteudo-painel p{
    color: #e0fbfc;
    font-size: 20px;
    padding-top: 15px;
    border-top: 3px solid #102b3f;
}
.imagem-painel img{
    width: 300px;
    filter: drop-shadow(10px 10px 5px #000);
    
}
.imagem-painel{
    display: flex;
    flex: 1;
    justify-content: center;
}
/*------------fim painel banner-------------*/

/*------------inicio section serviço-------------*/
.service-title{
    text-align: center;
    padding: 50px 0px 50px 0px;
    color: #871746;
    font-size: 30px;
}

.conteiner-serviços{
    height: auto;
    display: flex;
    margin: auto;
}
.service-list{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 10px;  
}

.service-list li{
    list-style-image: url(imagens/check\ 30x30.png);
    margin-left: 50px;
    line-height: 30px;
    color: #871746;
    font-size: 20px;
    font-weight: bold;
}
.imagem-serviço{
    flex: 1;
    background-image: url(imagens/10-reparos-de-celulares-mais-procurados.jpg);
    background-size: cover;
    background-position: center;

}

/*------------fim section serviço-------------*/

/*------------inicio section formulario-------------*/

.conteiner-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
    max-width: 100%; 
    background-image: linear-gradient(to right,rgba(135, 23, 70, 0.502),rgb(131, 63, 91,0.5)),url(imagens/pexels-mart-production-7709225.jpg);

}

.form-conteudo{
    max-width: 500px;
    background-color: #871746da;
    float: right;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px #000000c0;
}
.form-conteudo h2,.form-conteudo p{
    margin-bottom: 15px;
    color: #e0fbfc;
}
.formulario{
    display: flex;
    flex-direction: column;
}
input, select, textarea{
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
input[type="submit"]{
    background-color: #9984f099;
    color: #ffcccc;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
input[type="submit"]:hover{
    background-color: #ffcccc;
    color: #9984f0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
/*------------inicio section formulario-------------*/
.conteiner-produtos{
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 2rem;
}
.produtos-title{
    text-align: center;
    padding: 0px 0px 50px 0px;
    color: #871746;
    font-size: 30px;
}

.conteiner-produtos .cards-conteiner{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
}
.conteiner-produtos .cards-conteiner .produto{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1rem;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
    /*outline: 2px solid #ccc;
    outline-offset: -1rem;*/
    cursor: pointer;
}

.conteiner-produtos .cards-conteiner .produto:hover{
    outline: .2rem solid #871746;
    outline-offset: 0;

}
.conteiner-produtos .cards-conteiner .produto img{
    width: 10rem;
}
.conteiner-produtos .cards-conteiner .produto img:hover{
    transform: scale(.9);
}
.conteiner-produtos .cards-conteiner .produto h4{
    padding: 1rem;
    font-size: 1rem;
    color: #102b3f;
}
.conteiner-produtos .cards-conteiner .produto .preco{
    font-size: 1.2rem;
    color: #871746;
    font-weight: bolder;
}

/*----------inicio do rodape------------*/
.conteiner-rodape{
    display: flex;
    background-color: #102b3f;
    height: 50vh;
    justify-content: center;
    align-items: center;
}
.endereco{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    gap: 20px;
}
.endereco p{
    color: #ffcccc;
    font-size: 18px;
}
.conteiner-sociais{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.conteiner-sociais h3{
    color: #ffcccc;
}
.sociais{
    display: flex;
    gap: 30px;
}
.bloco-contatos{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.nossos-contatos{
    display: flex;
    gap: 15px;
    flex-direction: column;
    justify-content: center;
}
.nossos-contatos h3{
    color: #ffcccc;
    font-size: 18px;
}
.what{
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
}
.what img{
    background-color: #fff;
    border-radius: 50%;
}
.what h4{
    color: #ffcccc;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.email{
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
}
.email h4{
    color: #ffcccc;
    font-size: 18px;
    letter-spacing: 1.5px;
}
.call-fone{
    display: flex;
    flex: 1;
    align-items: center;
    gap: 10px;
}
.call-fone h4{
    color: #ffcccc;
    font-size: 18px;
    letter-spacing: 1.5px;
}

.rodape-oculto{
    display: none;
}

/*----------Fim do rodape------------*/

@media screen and (max-width:786px){
    
    .conteiner-painel{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .conteudo-painel{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap:15px;
        margin: 40px 50px;
    }
    .conteudo-painel h1{
        text-align: center;
        font-size: 40px;
    }
    .conteudo-painel p{
        text-align: center;
        font-size: 20px;
    }
    .imagem-painel img{
        width: 200px;
        margin-bottom: 50px;
    }

    .service-title{
        font-size: 20px;
    }

    .service-list li{
        list-style-image: url(imagens/check\ 30x30.png);
        line-height: 30px;
        color: #871746;
        font-size: 18px;
        font-weight: 700;
    }
    .imagem-serviço{
        display: none;
    }

    .endereco,.conteiner-sociais,.bloco-contatos{
        display: none;
    }
    
    .rodape-oculto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .rodape-oculto .logo2 img{
        width: 150px;
        filter: drop-shadow(5px 5px 5px #fff);
    }
    
    .rodape-oculto .icones{
        display: flex;
        flex-direction: row;
        gap: 40px;
        margin-top: 20px;
    }
    .rodape-oculto .icones a img{
        width: 50px;
        filter: drop-shadow(5px 5px 5px #fff);
    }
    
}


@media screen and (max-width: 768px) {
    .menu .logo{
        font-size: 35px;
        padding-left: 50px;
    }
    .menu ul li a{
        font-size: 16px;
    }
    
}

@media screen and (max-width: 568px) {
    .menu{
        border-bottom:2px solid #ffcccc ;
        position: fixed;
        z-index: 1;
    }
    .menu .logo{
        font-size: 25px;
        padding-left: 30px;
    }
    .menu ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #9984f0;
        top: 80px;
        right: -118%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
    }
    .menu ul li{
        display: block;
        border-bottom:2px solid #ffcccc ;
        padding: 0;
        margin: 0;
    
    }
    .menu ul li:hover{
        background-color: #7754ff;
        
    }
    .menu ul li a{
        font-size: 14px;
    }
    .checkbtn{
        display: block;
        cursor: pointer;
    }
    #check:checked ~ ul{
       right: -19px;
    }
    .produtos-title{
        font-size: 20px;
    }
    .form-conteudo{
        max-width: 350px;
    }
}